@page
@model Ganaderia.App.Presentacion.Pages.AtencionModel
@{
    ViewData["Title"] = "Atención Veterinaria";
}
<body
    style="background-image: url(/images/VETbovi.jpg);background-size: cover; background-repeat: no-repeat; opacity:0.9; ">


    <style>
        .contain {
            width: 80%;
            margin-top: 5%;
            margin-left: 10%;
            border-radius: 5%;
            background-color: yellowgreen;
            color: azure;
        }

        .itemlog {
            width: 90%;
            margin-left: 5%;
        }

        label {
            color: azure;

        }

        h2 {
            color: darkgray;
        }

        hr {
            background-color: black;
            width: 90%;
            margin-left: 5%;
            height: 4px;
        }
    </style>

    <!-- Formulario Ganadero -->
    <div class="contain">
        <div class="itemlog">
            <form method="post">
                <!-- Input oculto para enlazar con Model Ganadero.cshtml.cs con el ID -->
                <input type="hidden" asp-for="atencion.Id"/>
                <br>
				<div class="text-center">
					<h2 style="color:azure">Atención Veterinaria al Ejemplar: </h2>
				<br>
                    <p>En este espacio se puede llevar un control de la atención en salud al animal.</p>
                </div>
                <!-- Cajas de Texto enlazadas al model para cargar datos o adicionar -->
                <div class="d-flex justify-content-center">
                    <div class="form-group col-md-2">
                        <div class="text-center">
                            <label asp-for="atencion.Id"></label>
                        </div>
                        <input asp-for="atencion.Id" type="text" class="form-control" id="Id" readonly="readonly" name="Id">
                    </div>
                </div>
                <!-- Espacio IdGanadero -->
                <div class="d-flex justify-content-center">
                    <div class="form-group col-md-4">
                        <label asp-for="atencion.idEjemplar"></label>
                        <select asp-for="atencion.idEjemplar" class="form-control" id="idEjemplar" name="idEjemplar">
                        <option value="" selected disabled>-- Seleccionar --</option>
                        @foreach (var item in Model.Listaejemplares)
                        {
                            <option>@item.Id</option>
                        }
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label asp-for="atencion.idVeterinario"></label>
                        <select asp-for="atencion.idVeterinario" class="form-control" id="idVeterinario" name="idVeterinario">
                        <option value="" selected disabled>-- Seleccionar --</option>
                        @foreach (var item in Model.Listaveterinarios)
                        {
                            <option>@item.Id</option>
                        }
                        </select>
                    </div>
                    @* <div class="form-group col-md-2">
                        <label asp-for="ganado.idGanadero"></label>
                        <input asp-for="ganado.idGanadero" type="text" class="form-control" id="idGanadero">
                    </div> *@
                    @* <span class="text-danger" asp-validation-for="ganado.idGanadero"></span>
                    <span class="text-danger" asp-validation-for="ganado.raza"></span> *@
                </div>
                <!-- Otros Datos -->
                <div class="d-flex justify-content-center">
                    <div class="form-group col-md-4">
                        <label asp-for="atencion.Fecha"></label>
                        <input asp-for="atencion.Fecha" type="text" class="form-control" id="Fecha" name="Fecha">
                    </div>
                    <div class="form-group col-md-4">
                        <label asp-for="atencion.Estado"></label>
                        <input asp-for="atencion.Estado" type="text" class="form-control" id="Estado" name="Estado">
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <div class="form-group col-md-8">
                        <label asp-for="atencion.Observaciones"></label>
                        <textarea asp-for="atencion.Observaciones" class="form-control" id="Observaciones" rows="3" name="Observaciones"></textarea>
                    </div>
                </div>
                    @* <span class="text-danger" asp-validation-for="ganado.cantidad"></span>
                    <span class="text-danger" asp-validation-for="ganado.fechaIngreso"></span> *@
                <br>
                <!-- Botones -->
                <div class="d-flex justify-content-center">
                    @* <button type="submit" class="btn btn-primary" style="border-color: darkgreen; background-color:rgb(90,180,110); color:azure; border-end-color; darkblue " onclick="myFunction()">GuardarASP</button> *@
                    <button class="btn btn-primary" asp-page-handler="Add" style="border-color: darkgreen; background-color:rgb(90,180,110); color:azure; border-end-color; darkblue " onclick="myFunction()">Guardar</button>
                    <a class="btn btn-primary table-btn" asp-page="../Ganado/ListaEjemplares" style="margin-left:8%; border-color: darkgreen; background-color:rgb(90,180,110); color:azure; border-end-color; darkblue ">
                        <i class="fas fa-info-circle"></i>
                        Atrás
                    </a>
                </div>
                <br>
            </form>
            <br>
        </div>
</body>