<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GanaderApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">GanaderApp</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Ganadero/List">Ganaderos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Veterinario/Veterinario">Veterinario</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Ganado/Lista">Ganado</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Vacuna/Vacuna">Vacuna</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacidad</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
       
          <div class="containbody">

          <div class="col1">
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation ullamco
              laboris nisi ut aliquip ex ea commodo consequat.
              </p>
          </div>
          <!--grupo de información de sobre la aplicacion-->
          <div class="col2">

            <row class="row1">
              <img src="images/facebookIcon.png" width="60vw" alt="">

            </row>
            <row class="row1">
              <img src="images/YoutubeIcon.png" width="60vw" alt="">

            </row>
            <row class="row1">
              <img src="images/whatsappIcon.png" width="60vw" alt="">
            </row>
          </div>

          <div class="col3">
            <row class="row2">
              <img src="images/houseIcon.png" width="70vw" alt="">

              <p>La Estación <br>
                Colombia</p>
            </row>
            <row class="row2">
              <img src="images/phoneIcon.png" width="70vw" style="background-color:yellow;" alt="">
              <p>(+57)313 491 7109</p>
            </row>
            <row class="row2">
              <img src="images/emailIcon.png" width="70vw" alt="">
              <a id="escribenos" class="destacados" href="">Escribenos a nuestro correo</a>
            </row>
          </div>
    </div>
    <div class="containlaw">
      <h3>Información legal</h3>
       <div class="container">
            &copy; 2021 - WebAppGanadera - GanaderApp - Grupo 36 - Colaborativo 3</a>
        </div>
      <h4>☺2021 Todos los derechos reservados</h4>
    </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
