@page
@model IndexModel
@{
    Layout = "~/Pages/Shared/_LayoutLogin.cshtml";
    ViewData["Title"] = "Login";
}
<body
    style="background-image: url(/images/res.jpg);background-size: cover; background-repeat: no-repeat; opacity:0.9; ">

<div class="text-center">
    <h1 class="display-4">GanaderApp</h1>
</div>

<div class="d-flex justify-content-center">
    <img src="/images/cowgrande.png" width="200" height="200" class="d-inline-block align-top" alt="">
</div>


    <style>
        .contain {
            width: 50%;
            margin-top: 5%;
            margin-left: 25%;
            border-radius: 5%;
            background-color: yellowgreen;
            color: azure;
        }

        .itemlog {
            width: 90%;
            margin-left: 5%;
        }

        label {
            color: azure;

        }

        h2 {
            color: darkgray;
        }

        h6{
            color: red;
        }

        hr {
            background-color: black;
            width: 90%;
            margin-left: 5%;
            height: 4px;
        }
    </style>

    <!-- Formulario Ganadero -->
    <div class="contain">
        <div class="itemlog">
            <form method="post">
                <!-- Input oculto para enlazar con Model Ganadero.cshtml.cs con el ID -->
                <br>
				<div class="text-center">
					<h2 style="color:azure">Login</h2>
          @if(Model.Mensaje != null)
                {
                    <div class="text-center">
                        <h6>@Model.Mensaje</h6>
                    </div>
                }
				</div>
                <br>
                <!-- Cajas de Texto enlazadas al model para cargar datos o adicionar -->
                <div class="d-flex justify-content-center">
                    <div class="form-group col-md-6">
                        <label>Correo Electrónico *</label>
                        <input type="email" class="form-control" id="usuario" name="usuario" required placeholder="Usuario">
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <div class="form-group col-md-6">
                        <label >Contraseña *</label>
                        <input type="password" class="form-control" id="contrasena" name="contrasena" required placeholder="Password">
                    </div>
                </div>
                <br>
                <!-- Botones -->
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary" style="border-color: darkgreen; background-color:rgb(90,180,110); color:azure; border-end-color; darkblue " >Login</button>
                </div>
                <hr>
                <div class="text-center">
					<h6 style="color:azure">Aún no estas registrado?</h6>
                    <p>Puedes registrar tus datos aquí.</p>
				</div>
                <div class="d-flex justify-content-center">
                    <a class="btn btn-primary" asp-page="./Inicio/Register" style="border-color: darkgreen; background-color:rgb(90,180,110); color:azure; border-end-color; darkblue ">
                        <i class="fas fa-info-circle"></i>
                        Registrarse
                    </a>
                </div>
                <br>
            </form>
        </div>
</body>