@page
@model IndexModel
@{
    ViewData["Title"] = "Inicio";
}
<body style="background-image: url(/images/res.jpeg); background-size: cover; background-repeat: no-repeat; opacity:0.9; ">
<div class="text-center">
    <h1 class="display-4">Bienvenido a GanaderApp</h1>
    <p>Aplicación Web en Construccion para el proyecto MinTIC 2022 en su ciclo 3, desarrollada en .NET Core</a>.</p>
</div>

<style>
        .contain {
            width: 70%;
            margin-top:5%;
            margin-left:15%;
            border-radius:5%;
            background-color: darkorange;
            color:azure;
        }
        .itemlog{
            width:90%;
            margin-left:10%;
        }
    </style>


<div class="contain">
    <div class="itemlog">
        <br>
        <h2 style="margin-left: 40%; color:azure">Login: </h2>
        <br>
        <br>
        <label style="margin-left: 15%">Usuario:  </label>
        <input id="usr" type="text" placeholder="nombre de usuario*" style="margin-left: 13%">
        <img style="margin: 0%;" src="images/okIcon.png" width=25px height=20px><br>
        <br>
        <label style="margin-left: 15%">Contraseña:  </label>
        <input id="pass" type="text" placeholder="Ingresa tu contraseña*" style="margin-left: 9%">
        <img style="margin: 0%;" src="images/okIcon.png" width=25px height=20px><br>
        <br>
        <br><br>
        <input id="LogIn" type="button" value="Ingresa" style="float: right; margin-right:48%; padding:2% 4% 2% 4%; border-color: darkgreen; background-color:rgb(90,180,110); color:azure; border-end-color; darkblue ">
        <br><hr>
        <br>        
        <h4 style="margin-left:20%; color:azure">Aún no eres parte de GanaderApp
        <br><br> 
        Registrate pulsando este boton: </h4>
        <br>
        <br>
        <input id="reg" type="button" value="Registrarse" style="float: right; margin-right:45%; padding:2% 4% 2% 4%;border-color: darkgreen; background-color:rgb(90,180,110); color:azure;">
        <br>
        <br><br>
    </div>
</div>

    <!--
    <br>
    <div style="width: 100%; background-color:darkcyan;">
        <form id="Primario" action="POST" style="margin-left:10%; font-size: 1.1rem">
            <h2 style="color:darkorange; text-shadow: 1rem 2px 2px 2px darkblue;margin-left:35%">Registrate: </h2>

            <hr>
            <label style="margin-left: 8%">Nombre: </label>
            <input id="name" type="text" style="margin-left:25%; text-align: right;" script="var name = getElementById(name);">
            <img style="margin: 0%;" src="images/okIcon.png" width=25px height=20px><br>

            <label style="margin-left: 8%">Apellidos: </label>
            <input type="text" style="margin-left: 24%; text-align: right;">
            <img style="margin: 0%;" src="~/images/okIcon.png" width=25px height=20px><br>

            <label style="margin-left: 8%">Teléfono: </label>
            <input type="text" style="margin-left: 24.5%; text-align: right;">
            <img style="margin: 0%;" src="images/okIcon.png" width=25px height=20px><br>

            <label style="margin-left: 8%">E-mail: </label>
            <input type="text" style="margin-left: 26.5%; text-align: right;">
            <img style="margin: 0%;" src="images/okIcon.png" width=25px height=20px><br>

            <label style="margin-left: 8%">Dirección: </label>
            <input type="text" style="margin-left: 24%; text-align: right;">
            <img style="margin: 0%;" src="images/okIcon.png" width=25px height=20px><br><br><br>

            <label style="margin-left:8%">¿Cuál es tu rol en GanaWeb?</label><br><br>

            <label style="margin-left:8%">Ganadero</label>
            <input for="rol" type="checkbox" id="Ganadero" style="margin-left:6% ;border-radius:100%;"><br>
            <label style="margin-left:8%">Veterinario</label>
            <input for="rol" type="checkbox" id="Veterinario" style="margin-left:5% ;border-radius:100%;" >
            <br><br>
            <input type="submit" value="Registrarme" style="margin-left:8%">
            <input type="reset" value="Limpiar Campos" style="margin-left:25%"><br>
            <br>
            <hr>
            @for(int i = 0; i < 4; i++)
                {
                <p>Aqui escribimos una secuenccia @i</p>
                }
        </form>
    </div>
        -->
</body>
