@page
@model IndexModel
@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a GanaderApp</h1>
    <p>Aplicación Web en Construccion para el proyecto MinTIC 2022 en su ciclo 3, desarrollada en .NET Core</a>.</p>
</div>
