@page
@model PrivacyModel
@{
    ViewData["Title"] = "Política de privacidad";
}
<h1>@ViewData["Title"]</h1>

<body
    style="background-image: url(/images/PastorVac.jpg);background-size: cover; background-repeat: no-repeat; opacity:0.9; ">


    <style>
        .contain {
            width: 80%;
            margin-top: 5%;
            margin-left: 10%;
            border-radius: 5%;
            background-color: yellowgreen;
            color: azure;
        }

        .itemlog {
            width: 90%;
            margin-left: 5%;
        }

        label {
            color: darkgray;

        }

        h2 {
            color: darkgray;
        }

        hr {
            background-color: black;
            width: 90%;
            margin-left: 5%;
            height: 4px;
        }
    </style>


    <div class="contain">
        <div class="itemlog">
            <form id="Ejemplares" action="POST">
                <br>
                <section class="term_condition_area">
<div class="container">
<div class="row">
<div class="col-md-12">
<div class="cardify term_modules">
<div class="term">
<div class="term__title">
</div>
<p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Esta página le informa sobre nuestras políticas con respecto a la recopilación, uso y divulgación de datos personales cuando utiliza nuestro Servicio y las opciones que ha asociado con esos datos. </p>
<p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;" class="">Utilizamos sus datos para proporcionar y mejorar el Servicio. </font><font style="vertical-align: inherit;">Al usar el Servicio, usted acepta la recopilación y el uso de información de acuerdo con esta política. </font><font style="vertical-align: inherit;">A menos que se defina lo contrario en esta Política de privacidad, los términos utilizados en esta Política de privacidad tienen el mismo significado que en nuestros Términos y condiciones, accesibles desde https://www.ganaderapp.com/</font></font></p>
</div>
<div class="term">
<div class="term__title">
 <h4><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Recolección de información y uso</font></font></h4>
</div>
<p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Recopilamos varios tipos diferentes de información con diversos fines para proporcionarle y mejorar nuestro Servicio.</font></font></p>
<p><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Tipos de datos recopilados</font></font></strong></p>
<p><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Información personal</font></font></strong></p>
<p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Al usar nuestro Servicio, podemos pedirle que nos proporcione cierta información de identificación personal que se puede utilizar para contactarlo o identificarlo ("Datos personales"). </font><font style="vertical-align: inherit;">La información de identificación personal puede incluir, entre otros:</font></font></p>
<ul class="list-padding">
<li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Dirección de correo electrónico</font></font></li>
<li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Cookies y datos de uso</font></font></li>
</ul>
<p><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Datos de uso</font></font></strong></p>
<p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">También podemos recopilar información sobre cómo se accede y utiliza el Servicio ("Datos de uso"). </font><font style="vertical-align: inherit;">Estos Datos de uso pueden incluir información como la dirección del Protocolo de Internet de su computadora (por ejemplo, dirección IP), el tipo de navegador, la versión del navegador, las páginas de nuestro Servicio que visita, la hora y la fecha de su visita, el tiempo dedicado a esas páginas, único identificadores de dispositivo y otros datos de diagnóstico.</font></font></p>
<p><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Seguimiento y datos de cookies</font></font></strong></p>
<p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Utilizamos cookies y tecnologías de seguimiento similares para rastrear la actividad en nuestro Servicio y mantener cierta información.</font></font></p>
<p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Las cookies son archivos con una pequeña cantidad de datos que pueden incluir un identificador único anónimo. </font><font style="vertical-align: inherit;">Las cookies se envían a su navegador desde un sitio web y se almacenan en su dispositivo. </font><font style="vertical-align: inherit;">Las tecnologías de seguimiento también utilizadas son balizas, etiquetas y scripts para recopilar y rastrear información y para mejorar y analizar nuestro Servicio.</font></font></p>
<p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Puede indicar a su navegador que rechace todas las cookies o que indique cuándo se envía una cookie. </font><font style="vertical-align: inherit;">Sin embargo, si no acepta las cookies, es posible que no pueda usar algunas partes de nuestro Servicio.</font></font></p>
<p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ejemplos de cookies que utilizamos:</font></font></p>
<ul class="list-padding">
<li><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Cookies de sesión </font></font></strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Utilizamos cookies de sesión para operar nuestro servicio.</font></font></li>
<li><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Cookies de preferencia. </font></font></strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Utilizamos cookies de preferencias para recordar sus preferencias y diversas configuraciones.</font></font></li>
<li><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Cookies de seguridad </font></font></strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Utilizamos cookies de seguridad con fines de seguridad.</font></font></li>
</ul>
</div>
<div class="term">
<div class="term__title">
<h4><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Uso de datos</font></font></h4>
</div>
<p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Las mejores plantillas HTML / CSS gratuitas utilizan los datos recopilados para diversos fines:</font></font></p>
<ul class="list-padding">
<li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Para proporcionar y mantener el Servicio</font></font></li>
<li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Para notificarle sobre cambios en nuestro Servicio</font></font></li>
<li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Para permitirle participar en funciones interactivas de nuestro Servicio cuando elija hacerlo</font></font></li>
<li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Para proporcionar atención al cliente y soporte</font></font></li>
<li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Proporcionar análisis o información valiosa para que podamos mejorar el Servicio.</font></font></li>
<li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Para monitorear el uso del Servicio</font></font></li>
<li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Para detectar, prevenir y abordar problemas técnicos</font></font></li>
</ul>
</div>
<div class="term">
<div class="term__title">
<h4><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Transferencia de datos</font></font></h4>
</div>
<p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Su información, incluidos los Datos personales, puede transferirse a computadoras ubicadas fuera de su estado, provincia, país u otra jurisdicción gubernamental donde las leyes de protección de datos pueden diferir de las de su jurisdicción.</font></font></p>
<p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Si se encuentra fuera de Colombia y decide proporcionarnos información, tenga en cuenta que transferimos los datos, incluidos los datos personales, a Colombia y los procesamos allí.</font></font></p>
<p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Su consentimiento a esta Política de privacidad seguido de su envío de dicha información representa su aceptación de esa transferencia.</font></font></p>
<p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Las mejores plantillas HTML / CSS gratuitas tomarán todas las medidas razonablemente necesarias para garantizar que sus datos se traten de forma segura y de acuerdo con esta Política de privacidad y no se realizará ninguna transferencia de sus Datos personales a una organización o país a menos que existan controles adecuados. incluida la seguridad de sus datos y otra información personal.</font></font></p>
</div>
<div class="term">
<div class="term__title">
<h4><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Divulgación de datos</font></font></h4>
</div>
<p><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Requerimientos legales</font></font></strong></p>
<p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Las mejores plantillas HTML / CSS gratuitas pueden divulgar sus datos personales en la creencia de buena fe de que dicha acción es necesaria para:</font></font></p>
<ul class="list-padding">
<li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Para cumplir con una obligación legal</font></font></li>
<li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Para proteger y defender los derechos o propiedad de Best Free HTML / CSS Templates</font></font></li>
<li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Para prevenir o investigar posibles irregularidades en relación con el Servicio</font></font></li>
<li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Para proteger la seguridad personal de los usuarios del Servicio o del público.</font></font></li>
<li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Para protegerse contra la responsabilidad legal</font></font></li>
</ul>
</div>
<div class="term">
<div class="term__title">
<h4><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Seguridad de datos</font></font></h4>
</div>
<p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">La seguridad de sus datos es importante para nosotros, pero recuerde que ningún método de transmisión por Internet o método de almacenamiento electrónico es 100% seguro. </font><font style="vertical-align: inherit;">Si bien nos esforzamos por utilizar medios comercialmente aceptables para proteger sus Datos personales, no podemos garantizar su seguridad absoluta.</font></font></p>
</div>
<div class="term">
<div class="term__title">
<h4><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Proveedores de servicio</font></font></h4>
</div>
<p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Podemos emplear a empresas e individuos de terceros para facilitar nuestro Servicio ("Proveedores de servicios"), para proporcionar el Servicio en nuestro nombre, para realizar servicios relacionados con el Servicio o para ayudarnos a analizar cómo se utiliza nuestro Servicio.</font></font></p>
<p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Estos terceros tienen acceso a sus Datos personales solo para realizar estas tareas en nuestro nombre y están obligados a no divulgarlos ni usarlos para ningún otro propósito.</font></font></p>
<p><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Analítica</font></font></strong></p>
<p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Podemos utilizar proveedores de servicios externos para monitorear y analizar el uso de nuestro servicio.</font></font></p>
<ul>
<li>
<p><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Google analitico</font></font></strong></p>
<p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Google Analytics es un servicio de análisis web ofrecido por Google que rastrea e informa el tráfico del sitio web. </font><font style="vertical-align: inherit;">Google utiliza los datos recopilados para rastrear y controlar el uso de nuestro Servicio. </font><font style="vertical-align: inherit;">Estos datos se comparten con otros servicios de Google. </font><font style="vertical-align: inherit;">Google puede usar los datos recopilados para contextualizar y personalizar los anuncios de su propia red publicitaria.</font></font></p>
<p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Puede optar por no haber puesto su actividad en el Servicio a disposición de Google Analytics instalando el complemento de exclusión voluntaria de Google Analytics. </font><font style="vertical-align: inherit;">El complemento evita que el JavaScript de Google Analytics (ga.js, analytics.js y dc.js) comparta información con Google Analytics sobre la actividad de las visitas.</font></font></p> <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Para obtener más información sobre las prácticas de privacidad de Google, visite la página web de Privacidad y Términos de Google: </font></font><a href="https://policies.google.com/privacy?hl=en"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">https://policies.google.com/privacy?hl=en</font></font></a></p>
</li>
</ul>
</div>
<div class="term">
<div class="term__title">
<h4><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Enlaces a otros sitios</font></font></h4>
</div>
<p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Nuestro servicio puede contener enlaces a otros sitios que no son operados por nosotros. </font><font style="vertical-align: inherit;">Si hace clic en un enlace de un tercero, se lo dirigirá al sitio de ese tercero. </font><font style="vertical-align: inherit;">Le recomendamos encarecidamente que revise la Política de privacidad de cada sitio que visite.</font></font></p>
<p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">No tenemos control ni asumimos ninguna responsabilidad por el contenido, las políticas de privacidad o las prácticas de sitios o servicios de terceros.</font></font></p>
</div>
<div class="term">
<div class="term__title">
<h4><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Privacidad infantil</font></font></h4>
</div>
<p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Nuestro Servicio no se dirige a menores de 18 años ("Niños").</font></font></p>
<p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">No recopilamos intencionalmente información de identificación personal de ninguna persona menor de 18 años. Si usted es padre o tutor y sabe que sus hijos nos han proporcionado datos personales, contáctenos. </font><font style="vertical-align: inherit;">Si nos damos cuenta de que hemos recopilado Datos personales de niños sin verificación del consentimiento de los padres, tomamos medidas para eliminar esa información de nuestros servidores.</font></font></p>
</div>
<div class="term">
<div class="term__title">
<h4><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Cambios a esta política de privacidad</font></font></h4>
</div>
<p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Podemos actualizar nuestra Política de privacidad de vez en cuando. </font><font style="vertical-align: inherit;">Le notificaremos cualquier cambio publicando la nueva Política de privacidad en esta página.</font></font></p>
<p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Le informaremos por correo electrónico y / o un aviso destacado sobre nuestro Servicio, antes de que el cambio entre en vigencia y actualizaremos la "fecha de vigencia" en la parte superior de esta Política de privacidad.</font></font></p>
<p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Se recomienda que revise esta Política de privacidad periódicamente para detectar cualquier cambio. </font><font style="vertical-align: inherit;">Los cambios a esta Política de privacidad son efectivos cuando se publican en esta página.</font></font></p>
</div>
<div class="term">
<div class="term__title">
<h4><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Contáctenos</font></font></h4>
</div>
<p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Si tiene alguna pregunta sobre esta Política de privacidad, contáctenos:</font></font></p>
<ul class="list-padding">
<li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Por correo electrónico: <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="037466616e6270776671436c7671606c6766746c716f672d606c6e">[email&#160;protected]</a></font></font></li>
</ul>
</div>
</div>
</div>
</div>
</div>
</section>
                
                <br>
            </form>
        </div>
</body>
