@page
@model Ganaderia.App.Presentacion.Pages.EjemplarModel
@{
}
<body
    style="background-image: url(/images/PastorVac.jpg);background-size: cover; background-repeat: no-repeat; opacity:0.9; ">


    <style>
        .contain {
            width: 80%;
            margin-top: 5%;
            margin-left: 10%;
            border-radius: 5%;
            background-color: yellowgreen;
            color: azure;
        }

        .itemlog {
            width: 90%;
            margin-left: 5%;
        }

        label {
            color: darkgray;

        }

        h2 {
            color: darkgray;
        }

        hr {
            background-color: black;
            width: 90%;
            margin-left: 5%;
            height: 4px;
        }
    </style>


    <div class="contain">
        <div class="itemlog">
            <form id="Ejemplares" action="POST">
                <br>
				<div class="text-center">
					<h2 style="color:azure">Ejemplares: </h2>
				</div>
                <br>
                <p>En este espacio puedes administrar cada uno de tus ejemplares, añade, modifica, borra y verifica el estado de salud de cada una de tus vacas.</p>
                <br>
                <hr>
                <br>
				<div class="Campos de Texto">
					<label style="margin-left: 10%; color:azure">Lote al que pertenece: </label>
					<label style="margin-left: 28%; color:azure">Estado de Salud: </label>
					<input id="idGanado" type="text" placeholder="Código del Lote" style="margin-left: 10%">
					<select id="estadoSalud" style="margin-left: 19%">
					<option value="" selected disabled>-- Seleccionar --</option>
					<option>Saludable</option>
					<option>Enfermo</option>
					<option>Muerto</option>
					<option>Otro</option>
				</div>
                <br>
                <label>Hola Mundo</label>
				<div class="Campos de Texto">
					<label style="margin-left: 10%; color:azure">Fecha de compra: </label>
					<label style="margin-left: 28%; color:azure">Fecha de vencimiento: </label>
					<input id="fechaCompra" type="date" placeholder="" style="margin-left: 10%">
					<input id="fechaVacuna" type="date" placeholder="" style="margin-left: 17%">
				</div>
                <label style="margin-top: 2%; margin-left: 10%; color:azure">Observaciones Generales: </label>
                <br>
                <textarea id="observaciones" placeholder="Escriba una descripción corta" style="margin-left: 10%; width:75%;"></textarea>
                <br><br>
                <input id="buscar" type="button" value="Buscar"
                    style="margin-left:10%; padding:2% 4% 2% 4%; border-color: darkgreen; background-color:rgb(90,180,110); color:azure; border-end-color; darkblue ">


                <input id="guardar" type="button" value="Guardar"
                    style="margin-left:8%; padding:2% 4% 2% 4%; border-color: darkgreen; background-color:rgb(90,180,110); color:azure; border-end-color; darkblue ">

                <input id="borrar" type="button" value="Borrar"
                    style="margin-left:8%; padding:2% 4% 2% 4%; border-color: darkgreen; background-color:rgb(90,180,110); color:azure; border-end-color; darkblue ">
                <br>

                <br>
                <br>
                <hr>
				<div class="text-center">
					<h3 class="heading-section">Listado de Ejemplares</h3>
                    <h5 class="heading-section">Lote de Ganado y Estado de Salud</h5>
				</div>
				
                <table class="table table-responsive-xl">
                    <thead>
                        <tr>
                            <th>Código Ejemplar</th>
                            <th>Lote Ganado</th>
                            <th>Estado Salud</th>
                            <th>Vacunado &nbsp;</th>
							<th>Fecha Vacuna</th>
                        </tr>
                    </thead>
                    <tbody>
                        
						@foreach (var ejemplares in Model.ejemplares)
						{
							<tr class="alert" role="alert">
						      <td class="d-flex align-items-center">
						      	<div class="pl-3 email">
						      		<span>@ejemplares.Id</span>
						      	</div>
						      </td>
						      <td>@ejemplares.idGanado</td>
						      <td class="status"><span class="active">@ejemplares.estadoSalud</span></td>
						      <td>
						    		<label class="checkbox-wrap checkbox-primary">
										  
										  @if (ejemplares.fechaVacuna==null)
										  {
											  <input type="checkbox">
										  }else
										  {
											  <input type="checkbox" checked>
										  }
										  
										  <span class="checkmark"></span>
										</label>
						        </td>
								<td>@ejemplares.fechaVacuna</td>
						    </tr>

						}
						
						
                        
                    </tbody>
                </table>
                <br>
            </form>
        </div>
</body>
