@page
@model Ganaderia.App.Presentacion.Pages.MenuModel
@{
    ViewData["Title"] = "Menú";
}
<body style="background-image: url(/images/res.jpg); background-size: cover; background-repeat: no-repeat; opacity:0.9; ">
<div class="text-center">
    <h4 class="display-4">Bienvenido a GanaderApp</h4>
    <p>Aplicación Web en Construccion para el proyecto MinTIC 2022 en su ciclo 3, desarrollada en .NET Core</a>.</p>
    <br>
    <br>
    <p>Utilice el menú superior para gestionar la información.</p>
</div>

<style>
        .contain {
            width: 80%;
            margin-top:5%;
            margin-left:15%;
            border-radius:5%;
            background-color: darkorange;
            color:azure;
        }
        .itemlog{
            width:90%;
            margin-left:10%;
        }
    </style>

</body>