@page
@model Ganaderia.App.Presentacion.Pages.GanaderoModel
@{
    ViewData["Title"] = "Editar Ganadero";
}
<body
    style="background-image: url(/images/PastorVac.jpg);background-size: cover; background-repeat: no-repeat; opacity:0.9; ">


    <style>
        .contain {
            width: 80%;
            margin-top: 5%;
            margin-left: 10%;
            border-radius: 5%;
            background-color: yellowgreen;
            color: azure;
        }

        .itemlog {
            width: 90%;
            margin-left: 5%;
        }

        label {
            color: azure;

        }

        h2 {
            color: darkgray;
        }

        hr {
            background-color: black;
            width: 90%;
            margin-left: 5%;
            height: 4px;
        }
    </style>


    <div class="contain">
        <div class="itemlog">
            <form id="Ganadero" method="post">
                <input type="hidden" asp-for="ganadero.Id"/>
                <br>
				<div class="text-center">
					<h2 style="color:azure">Ganadero: </h2>
				</div>
                <br>
                <p>En este espacio puedes administrar tu perfil como Ganadero, cambiar o actualizar tu información y datos personales.</p>
                <br>
                <div class="Campos de Texto">
                    <label asp-for="ganadero.Id"></label>
                    <input asp-for="ganadero.Id" id="idGanadero" type="text">
                </div>
                <br>
                <div class="Campos de Texto">
                    <label asp-for="ganadero.Nombre"></label>
                    <input asp-for="ganadero.Nombre" id="Nombre" type="text">
                    <label asp-for="ganadero.Apellido"></label>
                    <input asp-for="ganadero.Apellido" id="Apellidos" type="text">
                </div>
                <div class="Campos de Texto">
                    <label asp-for="ganadero.NumeroTelefono"></label>
                    <input asp-for="ganadero.NumeroTelefono" id="NumeroTelefono" type="text">
                    <label asp-for="ganadero.Direccion"></label>
                    <input asp-for="ganadero.Direccion" id="Direccion" type="text">
                </div>
                <div class="Campos de Texto">
                    <label asp-for="ganadero.correo"></label>
                    <input asp-for="ganadero.correo" id="correo" type="text">
                    <label asp-for="ganadero.contrasena"></label>
                    <input asp-for="ganadero.contrasena" id="contrasena" type="text">
                </div>
                <br>
                <h5>Campos de Localización</h5>
                <br>
                <div class="Campos de Texto">
                    <label asp-for="ganadero.Latitude"></label>
                    <input asp-for="ganadero.Latitude" id="Latitude" type="text">
                    <label asp-for="ganadero.Longitude"></label>
                    <input asp-for="ganadero.Longitude" id="Longitude" type="text">
                </div>
                <br>
                <!-- Botones -->
                <div class="Campos de Texto">
                    <br>
                    <button type="submit" class="btn btn-primary" style="margin-left:8%; padding:2% 4% 2% 4%; border-color: darkgreen; background-color:rgb(90,180,110); color:azure; border-end-color; darkblue ">Guardar</button>
                    <a class="btn btn-primary table-btn" style="margin-left:8%; padding:2% 4% 2% 4%; border-color: darkgreen; background-color:rgb(90,180,110); color:azure; border-end-color; darkblue ">
                        <i class="fas fa-info-circle"></i>
                        Borrar
                    </a>
                    <a class="btn btn-primary table-btn" asp-page="./List" style="margin-left:8%; padding:2% 4% 2% 4%; border-color: darkgreen; background-color:rgb(90,180,110); color:azure; border-end-color; darkblue ">
                        <i class="fas fa-info-circle"></i>
                        Atrás
                    </a>
                </div>
                <br>
                <br>
            </form>
        </div>
</body>