@page
@model Ganaderia.App.Presentacion.Pages.GanaderoModel
@{
    ViewData["Title"] = "Editar Ganadero";
}
<body
    style="background-image: url(/images/PastorVac.jpg);background-size: cover; background-repeat: no-repeat; opacity:0.9; ">


    <style>
        .contain {
            width: 80%;
            margin-top: 5%;
            margin-left: 10%;
            border-radius: 5%;
            background-color: yellowgreen;
            color: azure;
        }

        .itemlog {
            width: 90%;
            margin-left: 5%;
        }

        label {
            color: azure;

        }

        h2 {
            color: darkgray;
        }

        hr {
            background-color: black;
            width: 90%;
            margin-left: 5%;
            height: 4px;
        }
    </style>

    <!-- Formulario Ganadero -->
    <div class="contain">
        <div class="itemlog">
            <form id="Ganadero" method="post">
                <!-- Input oculto para enlazar con Model Ganadero.cshtml.cs con el ID -->
                <input type="hidden" asp-for="ganadero.Id"/>
                <br>
				<div class="text-center">
					<h2 style="color:azure">Ganadero: </h2>
				</div>
                <br>
                <p>En este espacio puedes administrar tu perfil como Ganadero, cambiar o actualizar tu información y datos personales.</p>
                <!-- Cajas de Texto enlazadas al model para cargar datos o adicionar -->
                <div class="d-flex justify-content-center">
                    <div class="form-group col-md-2">
                        <div class="text-center">
                            <label asp-for="ganadero.Id"></label>
                        </div>
                        <input asp-for="ganadero.Id" type="text" class="form-control" id="idGanadero" readonly="readonly" name="idGanadero">
                    </div>
                </div>
                <!-- Espacio Nombres y apellidos -->
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label asp-for="ganadero.Nombre"></label>
                        <input asp-for="ganadero.Nombre" type="text" class="form-control" id="Nombre" name="Nombre">
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="ganadero.Apellido"></label>
                        <input asp-for="ganadero.Apellido" type="text" class="form-control" id="Apellido" name="Apellido">
                    </div>
                    <span class="text-danger" asp-validation-for="ganadero.Nombre"></span>
                    <span class="text-danger" asp-validation-for="ganadero.Apellido"></span>
                </div>
                <!-- Informacion de Localizacion -->
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label asp-for="ganadero.NumeroTelefono"></label>
                        <input asp-for="ganadero.NumeroTelefono" type="text" class="form-control" id="NumeroTelefono" name="NumeroTelefono">
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="ganadero.Direccion"></label>
                        <input asp-for="ganadero.Direccion" type="text" class="form-control" id="Direccion" name="Direccion">
                    </div>
                    <span class="text-danger" asp-validation-for="ganadero.NumeroTelefono"></span>
                    <span class="text-danger" asp-validation-for="ganadero.Direccion"></span>
                </div>
                <!-- Campos de Correo y Claves -->
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label asp-for="ganadero.correo"></label>
                        <input asp-for="ganadero.correo" type="email" class="form-control" id="correo" name="correo">
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="ganadero.contrasena"></label>
                        <input asp-for="ganadero.contrasena" type="text" class="form-control" id="contrasena" name="contrasena">
                    </div>
                    <span class="text-danger" asp-validation-for="ganadero.correo"></span>
                    <span class="text-danger" asp-validation-for="ganadero.contrasena"></span>
                </div>
                <br>
                <h5>Campos de Localización</h5>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label asp-for="ganadero.Latitude"></label>
                        <input asp-for="ganadero.Latitude" type="text" class="form-control" id="Latitude" name="Latitude">
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="ganadero.Longitude"></label>
                        <input asp-for="ganadero.Longitude" type="text" class="form-control" id="Longitude" name="Longitude">
                    </div>
                </div>
                <br>
                <!-- Botones -->
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary" style="border-color: darkgreen; background-color:rgb(90,180,110); color:azure; border-end-color; darkblue " onclick="myFunction()">Guardar</button>
                    <a class="btn btn-primary table-btn" asp-page="./List" style="margin-left:8%; border-color: darkgreen; background-color:rgb(90,180,110); color:azure; border-end-color; darkblue ">
                        <i class="fas fa-info-circle"></i>
                        Atrás
                    </a>
                </div>
                <br>
                <br>
            </form>
            <script>
                function myFunction() {
                    alert("El proceso se ha realizado correctamente en BD, puede dar click en Atrás para regresar");
                }
        </script>
        </div>
</body>

@* //TODO Pendiente hacer que las listas se actualicen al modificar, hacer update *@