@page
@model Ganaderia.App.Presentacion.Pages.VacunaModel
@{
    ViewData["Title"] = "Editar Vacuna";
}


<body
  style="background-image: url(/images/VETbovi.jpg);background-size: cover; background-repeat: no-repeat; opacity:0.9; ">

    <style>
        .contain {
            width: 80%;
            margin-top: 5%;
            margin-left: 10%;
            border-radius: 5%;
            background-color: yellowgreen;
            color: azure;
        }

        .itemlog {
            width: 90%;
            margin-left: 5%;
        }

        label {
            color: azure;

        }

        h2 {
            color: darkgray;
        }

        h3{
            color: red;
        }

        h4{
            color: red;
        }

        hr {
            background-color: black;
            width: 90%;
            margin-left: 5%;
            height: 4px;
        }
    </style>

    <!-- Formulario Vacuna -->
    <div class="contain">
        <div class="itemlog">
            <form id="Vacuna" method="post">
                <!-- Input oculto para enlazar con Model Vacuna.cshtml.cs con el ID -->
                <input type="hidden" asp-for="vacuna.Id"/>
                <br>
				<div class="text-center">
					<h2 style="color:azure">Vacuna: </h2>

                    salud
                    
				</div>
                <br>
                <p>En este espacio puedes administrar tu perfil como Vacuna, cambiar o actualizar tu información y datos personales.</p>
                <!-- Cajas de Texto enlazadas al model para cargar datos o adicionar -->
                <div class="d-flex justify-content-center">
                    <div class="form-group col-md-2">
                        <div class="text-center">
                            <label asp-for="vacuna.Id">Código</label>
                        </div>
                        <input asp-for="vacuna.Id" type="text" class="form-control" id="idVacuna" readonly="readonly" name="idVacuna">
                    </div>
                </div>
                <!-- Espacio Nombres y lote -->
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label asp-for="vacuna.Nombre">Nombre *</label>
                        <input asp-for="vacuna.Nombre" type="text" class="form-control" id="Nombre" name="Nombre" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="vacuna.Lote">Lote *</label>
                        <input asp-for="vacuna.Lote" type="text" class="form-control" id="Lote" name="Lote" required>
                    </div>
                </div>
                <!-- Informacion de Fechas -->
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label asp-for="vacuna.FechaCompra">Fecha de Compra *</label>
                        <input asp-for="vacuna.FechaCompra" type="text" class="form-control" id="FechaCompra" name="FechaCompra" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="vacuna.FechaVencimiento">Fecha de Vencimiento *</label>
                        <input asp-for="vacuna.FechaVencimiento" type="text" class="form-control" id="FechaVencimiento" name="FechaVencimiento" required>
                    </div>
                </div>
                <!-- Campos de Correo y Claves -->
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label asp-for="vacuna.Existencia">Existencia *</label>
                        <input asp-for="vacuna.Existencia" type="text" class="form-control" id="Existencia" name="Existencia" required placeholder="Existencia">
                    </div>
                </div>
                
                @if(Model.Mensaje != null)
                {
                    <div class="text-center">
                        <h3>@Model.Mensaje</h3>
                        <h4>@Model.Mensaje2</h4>
                    </div>
                    <br>
                }
                <!-- Botones -->
                <div class="d-flex justify-content-center">
                    <button type="submit" asp-page-handler="Add" class="btn btn-primary" style="border-color: darkgreen; background-color:rgb(90,180,110); color:azure; border-end-color; darkblue " >Guardar</button>
                    <a class="btn btn-primary table-btn"  asp-page="./ListVacunas" style="margin-left:8%; border-color: darkgreen; background-color:rgb(90,180,110); color:azure; border-end-color; darkblue ">
                        <i class="fas fa-info-circle"></i>
                        Atrás
                    </a>
                </div>
                <br>
                <br>
            </form>
        </div>
</body>
